h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
a,
html,
body {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

.fixed {
  position: fixed;
  z-index: 10;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ba9845;
  border-radius: 50%;
  bottom: calc(0% + 35px);
  left: calc(0% + 35px);
}

/* cagliostro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cagliostro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cagliostro-v21-latin-regular.woff2") format("woff2"), url("../fonts/cagliostro-v21-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* tangerine-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Tangerine";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/tangerine-v17-latin-regular.woff2") format("woff2"), url("../fonts/tangerine-v17-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* tangerine-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Tangerine";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/tangerine-v17-latin-700.woff2") format("woff2"), url("../fonts/tangerine-v17-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
html {
  scroll-behavior: smooth;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-content {
  background-color: #fff;
  margin: 75% auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  font-family: Montserrat;
  width: 50%;
  text-align: center;
}

.modal-button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  background: none;
  background-color: #ba9845;
  color: #fff;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03); /* Light white overlay */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#overlay-logo {
  margin: auto;
  max-width: 200px; /* Adjust based on your logo's size */
}

#unlock-slider-container {
  position: relative;
  width: 80%; /* Adjust width as needed */
  height: 60px;
  background-color: #f2f1ee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  border-radius: 150px;
}

#slide-text {
  position: absolute;
  font-family: cagliostro;
  color: #ba9845;
  width: 100%;
  text-align: center;
  font-size: 20px;
  pointer-events: none; /* Ensures the text does not interfere with sliding action */
}

#slider {
  width: 80px;
  height: 80%;
  background-color: rgba(186, 153, 69, 0.8);
  cursor: pointer;
  position: absolute;
  left: 10px; /* Start from the left */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 150px; /* Center the arrow inside the slider */
}

#slider-arrow {
  width: 37px; /* Adjust based on your icon's size */
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
  top: calc(50% + 200px);
  transform: rotate(0deg);
  cursor: pointer;
  margin-top: 70px;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid #ba9845;
  border-right: 5px solid #ba9845;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
@media screen and (max-width: 450px) {
  .arrow span {
    width: 3.5vw;
    height: 3.5vw;
  }
}
.container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 80px; /* Ensure the pseudo-element does not overflow the container */
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Same height as .logo */
  background-image: url("../../img/footer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  transform: rotate(180deg); /* Adjust the rotation angle as needed */
}

.hero {
  height: 100vh;
  position: relative;
}
.hero.visible::before {
  opacity: 1;
}
.hero.visible::after {
  opacity: 1;
}
.hero::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 300px;
  height: 315px;
  background-image: url("../../img/header-2.png");
  background-repeat: no-repeat;
  left: calc(100% - 300px);
  bottom: 0;
  background-size: contain;
  z-index: -1;
}
.hero::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 300px;
  height: 300px;
  background-image: url("../../img/header-1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.hero__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../../img/ramka.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero__header {
  font-family: Tangerine;
  font-weight: bold;
  font-size: 60px;
  color: #ba9845;
}
.hero__subheader {
  font-family: Cagliostro;
  text-align: center;
  color: rgba(186, 153, 69, 0.5);
  margin-bottom: 40px;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .hero::after {
    width: 300px;
    height: 315px;
    left: calc(100% - 300px);
  }
  .hero__container {
    background-position: 0px;
  }
  .hero__container::before {
    width: 67px;
  }
  .hero__header {
    font-size: 38px;
    margin-bottom: 9px;
  }
  .hero__subheader {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .hero__wrapper {
    padding-bottom: 25px;
  }
}
.invite {
  margin-top: 50px;
  margin-bottom: 50px;
}
.invite__body {
  text-align: center;
  font-family: Cagliostro;
  max-width: 500px;
  font-size: 20px;
  color: hwb(43 27% 27%/0.8);
}
.invite__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.invite__header {
  font-family: Tangerine;
  font-size: 80px;
  color: #ba9845;
  margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
  .invite__body {
    font-size: 16px;
  }
  .invite__header {
    font-size: 56px;
    margin-bottom: 25px;
  }
}
.calendar {
  position: relative;
  margin-bottom: 30px;
}
.calendar::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 280px;
  height: 430px;
  background-image: url("../../img/calendar-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: calc(0% - 140px);
  left: 0;
}
.calendar::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 180px;
  height: 260px;
  background-image: url("../../img/calendar-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  bottom: calc(0% - 140px);
  right: 0;
}
.calendar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calendar__header {
  font-family: Tangerine;
  font-size: 80px;
  color: #ba9845;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.calendar__img {
  max-width: 700px;
  width: 100%;
  margin-bottom: 35px;
}
.calendar__wrapper {
  position: relative;
  margin-bottom: 50px;
}
.calendar__wrapper::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 63px;
  height: 59px;
  background-image: url("../../img/angle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  bottom: 0;
  right: calc(0% + 35px);
}

@media screen and (max-width: 700px) {
  .calendar::before {
    width: 160px;
    height: 360px;
  }
  .calendar::after {
    width: 100px;
  }
  .calendar__header {
    font-size: 56px;
  }
  .calendar__wrapper::after {
    right: 0;
  }
}
.program__date, .program__time {
  font-family: cagliostro;
  color: #ba9845;
  font-size: 22px;
}
.program__header {
  font-family: Tangerine;
  font-size: 80px;
  color: #ba9845;
  text-align: center;
  margin-bottom: 30px;
}
.program__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.program__line {
  width: 2px;
  height: 80px;
  border: none;
  background-color: #ba9845;
  margin: 0;
}
.program__location {
  max-width: 335px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.program__location-header {
  font-family: cagliostro;
  color: #ba9845;
  font-size: 30px;
}
.program__location-icon {
  width: 15px;
}
.program__location-map {
  background-color: #ba9845;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-family: cagliostro;
  width: 100%;
  margin-bottom: 2px;
}
.program__location-subtext {
  font-family: cagliostro;
  font-size: 20px;
  color: #ba9845;
}
.program__main-img-link {
  width: 150px;
}
.program__subtext {
  font-family: cagliostro;
  font-size: 10px;
}
.program__time-wrapper {
  max-width: 130px;
  width: 100%;
}
.program__wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.program__main-link {
  text-decoration: none;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .program__header {
    font-size: 56px;
  }
  .program__date, .program__time {
    font-size: 14px;
  }
  .program__location-header {
    font-size: 16px;
  }
  .program__location-map {
    font-size: 7px;
  }
  .program__main-img-link {
    max-width: 93px;
  }
  .program__time-wrapper {
    max-width: 85px;
  }
  .program__location-subtext {
    font-size: 9px;
  }
  .program__location {
    max-width: 160px;
  }
  .program__another {
    font-size: 6px;
  }
  .program__location-icon {
    width: 8px;
  }
  .program__subtext {
    font-size: 5px;
  }
}
@media screen and (max-width: 390px) {
  .program__location-header {
    font-size: 13px;
  }
  .program__location-map {
    font-size: 7px;
  }
  .program__another {
    font-size: 6px;
  }
}
@media screen and (max-width: 370px) {
  .program__location-header {
    font-size: 12px;
  }
  .program__location-map {
    font-size: 6px;
  }
  .program__another {
    font-size: 5px;
  }
}
.final {
  background-image: url("../../img/footer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  padding-bottom: 650px;
  position: relative;
}
.final::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 170px;
  height: 300px;
  top: calc(0% + 100px);
  left: 0;
  background-image: url("../../img/final.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.final__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.final__header {
  font-family: Tangerine;
  font-size: 80px;
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  color: #ba9845;
  margin-bottom: 50px;
}
.final__img {
  width: 70px;
}
.final__link {
  font-family: cagliostro;
  text-decoration: none;
  font-size: 20px;
  color: #726851;
  margin-bottom: 50px;
}
.final__text {
  margin-left: 55px;
}
.final__wrapper {
  display: flex;
  align-items: center;
  font-family: cagliostro;
  font-size: 25px;
  padding: 20px 40px;
  border: 2px solid #ba9845;
  margin-bottom: 100px;
}

@media screen and (max-width: 700px) {
  .final {
    padding-bottom: 150px;
  }
  .final::before {
    width: 100px;
    height: 175px;
  }
  .final__header {
    font-size: 44px;
  }
  .final__text {
    font-size: 14px;
    margin-left: 14px;
  }
  .final__wrapper {
    padding: 20px;
  }
}/*# sourceMappingURL=main.css.map */