.logo {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 80px; /* Ensure the pseudo-element does not overflow the container */
}

.logo::before {
  display: none; /* Adjust the rotation angle as needed */
}

@media screen and (max-width: 750px) {
  .logo {
    padding: 0;
  }

  .logo::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Same height as .logo */
    background-image: url("../../img/footer.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    transform: rotate(180deg);
  }
}
