.logo {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 80px; /* Ensure the pseudo-element does not overflow the container */
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Same height as .logo */
  background-image: url("../../img/footer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  transform: rotate(180deg); /* Adjust the rotation angle as needed */
}
